<!---_PostCategory.Post-->
@using App.Aplication
@model IEnumerable<App.Domain.Entities.Data.Post>

@if (Model.IsAny())
{
	<div class="mkdf-pl-main-holder">
		<ul class="products">
			@foreach (var post in Model)
			{
				<li class="post-1127 product type-product status-publish has-post-thumbnail product_cat-chairs product_tag-decorative product_tag-interior first instock sale shipping-taxable purchasable product-type-simple">
					<div class="mkdf-pl-inner">
						<div class="mkdf-pl-image">
							<img width="800" height="800" src="@post.ImageMediumSize.ValidateImage()"
								 class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="a"
								 srcset="@post.ImageMediumSize.ValidateImage() 800w
								 , @post.ImageMediumSize.ValidateImage() 150w
								 , @post.ImageMediumSize.ValidateImage() 180w
								 , @post.ImageMediumSize.ValidateImage() 550w" sizes="(max-width: 800px) 100vw, 800px">
							
						</div><a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"></a>
					</div>
					<div class="mkdf-pl-text-wrapper">
						<h5 class="mkdf-product-list-title"><a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})">@post.Title</a></h5>
						<div class="mkdf-pl-rating-holder">
							<div class="star-rating"><span style="width: 100%">@post.CreatedDate.ToString("dd/MM/yyyy") </span></div>
						</div>
						
					</div>
				</li>
			}

		</ul>
	</div>
	<div class="mkdf-woo-pagination-holder">
		<div class="mkdf-woo-pagination-inner"></div>
	</div>
}
<!---_PostCategory.Post-->
