<!----GetProductHot-->
@using App.Aplication
@model IEnumerable<App.Domain.Entities.Data.Post>

@if (Model.IsAny())
{
	<div class="widget mkdf-blog-list-widget">
		<div class="mkdf-widget-title-holder">
			<h5 class="mkdf-widget-title">Thông báo mới</h5>
		</div><div class="mkdf-blog-list-holder mkdf-bl-simple mkdf-bl-one-column mkdf-small-space mkdf-bl-pag-no-pagination" data-type="simple" data-number-of-posts="5" data-number-of-columns="1" data-space-between-items="small" data-orderby="date" data-order="ASC" data-image-size="thumbnail" data-title-tag="p" data-excerpt-length="40" data-post-info-section="yes" data-post-info-image="yes" data-post-info-author="yes" data-post-info-date="yes" data-post-info-category="yes" data-post-info-comments="no" data-post-info-like="no" data-post-info-share="no" data-pagination-type="no-pagination" data-max-num-pages="2" data-next-page="2">
			<div class="mkdf-bl-wrapper mkdf-outer-space">
				<ul class="mkdf-blog-list">
					@foreach (var post in Model)
					{
						<li class="mkdf-bl-item mkdf-item-space clearfix">
							<div class="mkdf-bli-inner">

								<div class="mkdf-post-image">
									<a itemprop="url" href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})" title="@post.Title">
										<img width="150" height="150" src="@post.ImageMediumSize.ValidateImage()" 
										     class="attachment-thumbnail size-thumbnail wp-post-image" alt="a" 
										     srcset="@post.ImageMediumSize.ValidateImage() 150w
											 , @post.ImageMediumSize.ValidateImage() 180w
											 , @post.ImageMediumSize.ValidateImage() 800w
											 , @post.ImageMediumSize.ValidateImage() 550w" sizes="(max-width: 150px) 100vw, 150px">
									</a>
								</div>
								<div class="mkdf-bli-content">

									<p itemprop="name" class="entry-title mkdf-post-title">
										<a itemprop="url" href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})" title="@post.Title">
											@post.Title
										</a>
									</p>
									<div itemprop="dateCreated" class="mkdf-post-info-date entry-date published updated">
										<a itemprop="url" href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})">
											@post.CreatedDate.ToString("dd/MM/yyyy")
										</a>
										<meta itemprop="interactionCount" content="UserComments: 0">
									</div>
								</div>
							</div>
						</li>
					}

					
				</ul>
			</div>
		</div>
	</div>
}
<!----/GetProductHot-->