<!---PostDetail--->
@using App.Aplication
@using App.Domain.Common
@using App.Domain.Entities.Data
@model Post

@if (Model != null)
{

	@Html.Action("BannerTop", "Banner", new { menuId = ViewBag.BannerId, title = ViewBag.Title })
	{Html.RenderPartial("_BreadCrumb");}

	<div class="mkdf-container">
		<div class="mkdf-container-inner clearfix">
			<div class="mkdf-grid-row">
				<div class="mkdf-sidebar-holder mkdf-grid-col-3">
					@Html.Action("SearchBoxSideBar", "SearchBox", new
					{
						area = "",
						productOld = ViewBag.ProductOld,
						productNew = ViewBag.ProductNew,
						attributes = ViewBag.Attributes,
						prices = ViewBag.Prices,
						proAttrs = ViewBag.ProAttributes,
						virtualId = ViewBag.VirtualId
					})
				</div>
				<div class="mkdf-page-content-holder mkdf-grid-col-9">
					<div class="mkdf-blog-holder mkdf-blog-single mkdf-blog-single-standard">
						<article id="post-164" class="post-164 post type-post status-publish format-gallery has-post-thumbnail hentry category-advertising tag-design tag-interior post_format-post-format-gallery">
							<div class="mkdf-post-content">
								<div class="mkdf-post-heading">

									<div class="mkdf-post-image">
										<div class="mkdf-blog-gallery mkdf-owl-slider">
											@foreach (var item in Model.PostGallerys)
											{
												<div>
													<img width="1300" height="813"
														 src="@item.ImageBigSize.ValidateImage()"
														 class="attachment-full size-full" alt="a"
														 srcset="@item.ImageBigSize.ValidateImage() 1300w
														 ,@item.ImageBigSize.ValidateImage() 300w
														 ,@item.ImageBigSize.ValidateImage() 768w
														 ,@item.ImageBigSize.ValidateImage()1024w" sizes="(max-width: 1300px) 100vw, 1300px" />
												</div>
											}

										</div>
									</div>
								</div>
								<div class="mkdf-post-text">
									<div class="mkdf-post-text-inner">
										<div class="mkdf-post-info-top">
											<div itemprop="dateCreated" class="mkdf-post-info-date entry-date published updated">
												<a itemprop="url" href="http://zuhaus.mikado-themes.com/2017/10/">

													@Model.CreatedDate.ToString("dd/MM/yyyy")
												</a>
												<meta itemprop="interactionCount" content="UserComments: 2">
											</div>
										</div>
										<div class="mkdf-post-text-main">

											<h3 itemprop="name" class="entry-title mkdf-post-title">
												@Html.Raw(Model.Title)
											</h3>
											<div class="vc_row wpb_row vc_row-fluid vc_custom_1510672701103">
												<div class="wpb_column vc_column_container vc_col-sm-12">
													<div class="vc_column-inner ">
														<div class="wpb_wrapper">
															@Html.Raw(Model.Description)
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</article>

						@Html.Action("PostRelative", "Post", new { area = "", virtualId = Model.MenuLink.VirtualId, productId = Model.Id })

					</div>
				</div>

			</div>
		</div>
	</div>
}

<!---/PostDetail---->
