<!----PostHome-->
@using App.Aplication
@using App.Domain.Entities.Data
@using App.Domain.Entities.Menu
@model App.Front.Models.Posts.CategoryPostModel

@if (Model != null)
{
	int mnuIndex = 0;
	foreach (MenuLink menuLink in Model.MenuLinks)
	{
		mnuIndex++;
		var postCurrents = Model.Posts.Where(x => x.VirtualCategoryId.Contains(menuLink.CurrentVirtualId));

		<div class="mkdf-row-grid-section-wrapper mkdf-content-aligment-center">
			<div class="mkdf-row-grid-section">
				<div class="vc_row wpb_row vc_row-fluid vc_custom_1510575941789">
					<div class="wpb_column vc_column_container vc_col-sm-12">
						<div class="vc_column-inner ">
							<div class="wpb_wrapper">
								<div class="mkdf-section-title-holder  mkdf-st-standard mkdf-st-title-center mkdf-st-normal-space ">
									<div class="mkdf-st-inner">
										<h2 class="mkdf-st-title">
											@menuLink.MenuName
										</h2>
									</div>
								</div>
								<div class="mkdf-full-width">

									<div class="mkdf-full-width-inner">
										<div class="mkdf-grid-row">
											<div class="mkdf-page-content-holder mkdf-grid-col-12">
												<div class="mkdf-row-grid-section-wrapper ">
													<div class="mkdf-row-grid-section">
														<div class="vc_row wpb_row vc_row-fluid vc_custom_1510663890975">
															<div class="wpb_column vc_column_container vc_col-sm-12">
																<div class="vc_column-inner vc_custom_1510059191758">
																	<div class="wpb_wrapper">
																		<div class="mkdf-property-list-holder mkdf-pl-gallery mkdf-pl-layout-standard  mkdf-normal-space mkdf-pl-no-map      mkdf-pl-active-filter-hidden mkdf-pl-properties-found mkdf-pl-four-columns mkdf-pl-pag-no-pagination   " data-type="gallery" data-item-layout="standard" data-number-of-columns="4" data-space-between-items="normal" data-number-of-items="12" data-enable-fixed-proportions="no" data-image-proportions="square" data-hide-active-filter="yes" data-order-by="date" data-order="ASC" data-title-tag="h5" data-pagination-type="no-pagination" data-property-slider-on="no" data-enable-loop="yes" data-enable-autoplay="yes" data-slider-speed="5000" data-slider-speed-animation="600" data-enable-navigation="no" data-enable-map="no" data-enable-filter="no" data-enable-pagination="no" data-max-num-pages="2" data-next-page="2">
																			<div class="mkdf-property-list-items-part">
																				<div class="mkdf-pl-inner mkdf-outer-space  clearfix">


																					@foreach (var post in postCurrents)
																					{
																						@RenderPostBlock(post)
																					}

																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
}
@helper RenderPostBlock(Post post)
	{
		<article class="mkdf-pl-item mkdf-item-space  post-62 property type-property status-publish has-post-thumbnail hentry property-type-apartment property-feature-ac-heating property-feature-dishwasher property-feature-granite-countertops property-feature-laundry-facilities property-feature-modern-kitchen property-feature-pet-friendly property-feature-storage-units property-feature-washerdryer property-status-for-rent property-county-california property-city-san-diego property-neighborhood-mid-city property-tag-comfortable property-tag-cost-effective property-tag-design property-tag-interior property-tag-listing property-tag-modern property-tag-renovated property-tag-upscale" id="62">
			<div class="mkdf-pl-item-inner">
				<div class="mkdf-item-top-section">
					<div class="mkdf-pli-image">
						<img width="550" height="550" src="@post.ImageMediumSize.ValidateImage()" 
						     class="attachment-zuhaus_mikado_square size-zuhaus_mikado_square wp-post-image" 
						     alt="@post.Title" srcset="@post.ImageMediumSize.ValidateImage() 550w
							 , @post.ImageMediumSize.ValidateImage() 150w
							 , @post.ImageMediumSize.ValidateImage()300w
							 , @post.ImageMediumSize.ValidateImage() 768w
							 , @post.ImageMediumSize.ValidateImage() 180w
							 , @post.ImageMediumSize.ValidateImage() 800w" sizes="(max-width: 550px) 100vw, 550px" />
					</div>
				</div>
				<div class="mkdf-item-bottom-section">
					<div class="mkdf-item-bottom-section-content">
						<h5 itemprop="name" class="mkdf-pli-title entry-title">
							<a itemprop="url" href="@Url.Action("PostDetail", "Post" , new {seoUrl=post.SeoUrl, area="" })" target="_self">
								@post.Title
							</a>
						</h5>
						<div class="mkdf-item-info"><span class="mkdf-item-size">@post.CreatedDate.ToString("dd/MM/yyyy")</span>
						</div>
					</div>
				</div>
				<a itemprop="url" class="mkdf-pli-link mkdf-block-drag-link" href="@Url.Action("PostDetail", "Post" , new {seoUrl=post.SeoUrl, area="" })" target="_self"></a>
			</div>
		</article>
}
<!----/PostHome-->